body {
  margin: 0;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Console', monospace;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(255,255,255,0.35);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 12px;
  color: black;
  z-index: 100;
}

.icons {
  display: flex;               
  justify-content: center;     
  gap: 60px;                  
  margin-top: 50px;
}

.icon {
  text-align: center;
}

.icon a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon img {
  width: 75px;
  height: 75px; 
}

.icon:hover img {
  transform: scale(1.1);       
}

.icon p {
  margin-top: 4px;
  font-size: 12px;
}

.alternate-notes {
  position: fixed;
  bottom: 20px;
  right: 20px;
}


.glitch-text {
    position: relative;
    cursor: default;
    transition: 0.2s ease;
}

.glitch-text::after {
    content: attr(data-glitch);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    color: #ff0000;
    opacity: 0;
    text-shadow: -2px 0 magenta, 2px 0 cyan;
    transform: translateY(-1px) skewX(3deg);
    transition: 0.2s ease-in-out;
}

.glitch-text:hover::after {
    opacity: 1;
}

.glitch-text:hover {
    text-shadow: -3px 0 magenta, 3px 0 cyan;
    transform: skewX(4deg);
}
