body {
  margin: 0;
  height: 100vh;
  font-family: 'Lucida Console', monospace;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  background: #2b2b2b;
  overflow: hidden;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  filter: brightness(0.5) contrast(1.2) blur(1px); 
}


.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(52, 2, 2, 0.2); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 12px;
  color: #fff;
  z-index: 100;
  box-sizing: border-box; 
  overflow: hidden;
}

.date, .profile {
  font-size: 12px;
  color: #fff;
}

.system-log {
  position: fixed;
  left: 20px;
  top: 100px;
  width: 250px;
  height: 400px;
  background: #000; 
  border: 2px solid #00ff00; 
  color: #00ff00;
  font-family: 'Lucida Console', monospace;
  font-size: 12px;
  padding: 10px;
  overflow-y: auto;
}

.log-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #00ff00;
  padding-bottom: 3px;
}

.log-body {
  line-height: 1.3;
}

#log-body {
  overflow-y: auto;
  scrollbar-width: none;
}

#log-body::-webkit-scrollbar {
  display: none;
}

.icon-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px; 
  gap: 30px; 
  transform: rotate(1deg);
}

.icon {
  width: 75px;       
  height: 75px;      
  object-fit: contain; 
  cursor: pointer;
  transition: transform 0.05s;
}

.icon:hover {
  transform: rotate(-3deg) scale(1.1);
  animation: jitter 0.2s infinite;
}

.icon-label {
  margin-top: 6px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  width: 70px; 
  text-decoration: none;    
}

a {
  text-decoration: none;
}

revealBox {
  overflow-y: auto;
  scrollbar-width: none;      
}


@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.7; }
}

@keyframes jitter {
  0% { transform: translate(0,0) rotate(0deg); }
  25% { transform: translate(-1px,1px) rotate(1deg); }
  50% { transform: translate(1px,-1px) rotate(-1deg); }
  75% { transform: translate(-1px,0) rotate(0deg); }
  100% { transform: translate(0,1px) rotate(1deg); }
}

