body {
  background: #FF69B4;
  font-family: 'Lucida Console', monospace;
  margin: 0;
  padding: 0;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 12px;
  color: black;
  z-index: 100;
}

.mail-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 40px;
  padding: 80px 20px;
}

.window {
  width: 500px; 
  border: 2px solid #000;
  box-shadow: 2px 2px 0 #000;
  background: #f0f0f0;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  background: #000080; 
  color: white;
}

.window-body {
  padding: 15px;
  font-size: 14px;
  color: #000;
  background: white;
  border-top: 2px solid #000;
}

.buttons button {
  border: none;
  background: #dcdcdc;
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin-left: 3px;
  cursor: pointer;
}

.mail-container:hover{
  transform: scale(1.1);
}