@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: 'Lucida Console', monospace;
  font-size: 12px;
  color: black;
  z-index: 100;
  box-sizing: border-box; 
  overflow: hidden;
}

body {
  background: no-repeat center center fixed;
  background-size: cover;
  font-family: "lucida console", monospace;
  margin: 0;
  padding: 0;
  background-image: url("notes-bg-2.jpg"); 
  background-size: cover;
  background-position: center;
}

.note-body {
  white-space: pre-wrap; 
  font-size: 12px;
}

.notes-container1, .notes-container2 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px;
  justify-content: flex-start;
}

.note1 {
  position: absolute;
  top: 20%;
  left: 25%; 
}

.note2 {
  position: absolute;
  top: 20%;
  left: 55%; 
}

.note1 {
  width: 350px;
  height: 300px;
  background: #fff8c4; 
  border: 1px solid rgb(28, 0, 0);
  display: flex;
  flex-direction: column;
  transform: rotate(-4deg) translate(-20px, 0px);
}

.note2 {
  width: 350px;
  height: 300px;
  background: #fff8c4;  
  border: 1px solid rgb(28, 0, 0);
  display: flex;
  flex-direction: column;
  transform: rotate(4deg) translate(15px, 10px);
}

.note-header {
  background: #f1f1f1;
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
}

.note-title {
  font-weight: bold;
  font-size: 10px;
}

.buttons button {
  border: none;
  background: #dcdcdc;
  font-size: 10px;
  width: 18px;
  height: 18px;
  margin-left: 2px;
  cursor: pointer;
}

.note-body {
  padding: 10px;
  font-size: 10px;
  color: #000000;
}

.note1:hover,
.note2:hover {
  transform: scale(1.1);
  color: blue
}
