@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: 'Lucida Console', monospace;
  font-size: 12px;
  color: black;
  z-index: 100;
  box-sizing: border-box; 
  overflow: hidden;
}

body {
  background: no-repeat center center fixed;
  background-size: cover;
  font-family: "lucida console", monospace;
  margin: 0;
  padding: 0;
  background-image: url("notes-bg1.jpeg"); 
  background-size: cover;
  background-position: center;
}

.notes-container1 {
  position: relative;
  width: 100%;
  height: 100vh; 
}

.note1 {
  position: absolute;
  top: 20%;
  left: 25%; 
}

.note2 {
  position: absolute;
  top: 20%;
  left: 55%; 
}

.note3 {
  position: absolute;
  top: 55%;
  left: 40%; 
}

.note1, .note2, .note3 {
  width: 350px;
  height: 300px;
  background: #fff8c4; 
  border: 1px solid #999;
  box-shadow: 2px 2px 0px #666;
  display: flex;
  flex-direction: column;
}

.note-header {
  background: #f1f1f1;
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
}

.note-title {
  font-weight: bold;
  font-size: 10px;
}

.buttons button {
  border: none;
  background: #dcdcdc;
  font-size: 10px;
  width: 18px;
  height: 18px;
  margin-left: 2px;
  cursor: pointer;
}

.note-body {
  padding: 10px;
  font-size: 10px;
  color: #333;
}

.note1:hover,
.note2:hover,
.note3:hover {
  transform: scale(1.1);
}