.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: 'Lucida Console', monospace;
  font-size: 12px;
  color: black;
  z-index: 100;
  box-sizing: border-box; 
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #e3f2ff, #fef6ff);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Press Start 2P", monospace;
  color: black;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 100px auto; 
}

.photo-item {
  width: 180px;
  height: 180px;
  background: #ffffffcc; 
  border: 1px solid #c0c0c0;
  padding: 6px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(4px);
}

.photo-thumb {
  width: 100%;
  aspect-ratio: 1 / 1; 
  overflow: hidden; 
  border: 1px solid #aaa;
  background-color: #dcdcdc;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.photo-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.photo-item p {
  margin: 6px 0 0;
  font-size: 11px;
  color: #333;
}