body {
  margin: 0;
  font-family: 'Lucida Console', monospace;
  background: no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-image: url("photosbackground.jpg"); 
  background-size: cover;
  background-position: center; 
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 12px;
  color: black;
  z-index: 100;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 80px auto;
  width: max-content;
}


.photo-item {
  width: 220px;
  height: 220px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.photo-item:hover {
  transform: scale(1.1);
}

.photo-thumb {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  overflow: hidden;
}

.photo-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-header {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  background: rgba(27, 0, 203, 0.7);
  padding: 2px 0;
  box-sizing: border-box;
}
