body {
  margin: 0;
  height: 100vh;
  font-family: 'Lucida Console', monospace;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  background: linear-gradient(-45deg, #d8b4fe, #fbcfe8, #bae6fd, #fecaca);
  background-size: 400% 400%;
  animation: gradientShift 20s ease infinite;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  filter: brightness(0.8) blur(1px); 
}


.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: 'Lucida Console', monospace;
  font-size: 12px;
  color: black;
  z-index: 100;
  box-sizing: border-box; 
  overflow: hidden;
}

.date, .profile {
  font-family: 'Lucida Console', monospace;
  font-size: 12px;
  color: #000;
}

.icon-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px; 
  gap: 30px; 
}

.icon {
  width: 75px;       
  height: 75px;      
  object-fit: contain; 
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
}

.icon-label {
  margin-top: 6px;
  font-size: 12px;
  color: black;
  text-align: center;
  width: 70px; 
  text-decoration: none;    
}

a {
  text-decoration: none;
}

.prologue-icon {
  position: fixed;
  top: 5px;
  left: 10px;
  cursor: pointer;
  font-size: 18px;
  z-index: 200;
}

.prologue-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 150;
  justify-content: center;
  align-items: center;
}

.prologue-content {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border: 2px solid black;
  background: #fff;
  position: relative;
}

#close-prologue {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}



